%header
  .heading
.contents
  .left-content
    .left-content__top
      .user-name= current_user.name
      = link_to new_group_path do
        %i.fa.fa-cog
      = link_to edit_user_path(current_user) do
        %i.fa.fa-pencil-square-o

    .left-content__bottom
      = render '/groups/group'

  .right-content
    .right-content__top
      .group-member
        .group-name  Test
        .member-name= current_user.name
      .button-edit
        %a.button  EDIT

    .right-content__display-message
      .detail
        .name Huong Tra
        .message Nice to meet you
        .time 2017/10/12

    .right-content__input-message
      %form.input-message
        %input.message{type: "text", placeholder: "Type a message"}
        %input.submit{type: "submit", value: "SEND"}
          %label.image-file
            %input.image{type: "file", name: "chat-file", value: ""}
              %i.fa.fa-picture-o
